.card {
	width: 300px;
	margin: 20px;
	background-color: var(--color-three);
	box-shadow: 0px 0px 10px 0px var(--color-four);
	transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
	overflow: hidden;
    border-radius: var(--spacing);
    
    &:hover {
        box-shadow: 0px 0px 25px 0px var(--color-four);
        transform: translateY(-1px);
    }

    @include mobile {
        width: 100%;
		max-width: 600px;
		margin-bottom: 20px;
    }

    &_title {
        font-family: var(--title-font);
        color: var(--color-one);
        font-size: 3.2em;
        margin: var(--spacing) 0;
        text-align: center;
    }

    &__summary {
        font-family: var(--copy-font);
        font-size: 1.6em;
        line-height: 1.4;
        color: var(--color-one);
        padding: 0 var(--spacing) var(--spacing);
        text-align: center;
    }

    &__image {
        width: 100%;
        height: auto;
    }
    
}

