.site-title {
	display: inline-block;
	padding: var(--spacing);
	background-color: var(--color-three);
	border: 5px solid var(--color-one);
	font-family: var(--title-font);
	color: var(--color-one);
	font-size: 4.8em;
	letter-spacing: .1em;
	text-align: center;
	margin: var(--spacing) 0;
}

.card-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 80px;
	max-width: 1280px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}