:root {
	--color-one: #000000;
	--color-two: #F5ECCD;
	--color-three: #FFFFFF;
	--color-four: rgba(0,0,0,.75);
	--title-font: "Staatliches", cursive;
	--copy-font: "Ubuntu", sans-serif;
	--spacing: 15px;
}